@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: "Poppins";
  background: #121212;
}

.search-form:hover {
  border: 1px solid #7b46de;
}

.search-input {
  color: #c0c0c0;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* datepicker input size css*/
.customdatepickerwidth,
.customdatepickerwidth > div.react-datepicker-wrapper,
.customdatepickerwidth
  > div
  > div.react-datepicker__input-container
  .customdatepickerwidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

/* *** Customizing Scrollbar Style *** */
/* width */
.sidebarscroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.sidebarscroll::-webkit-scrollbar-track {
  background: #262626;
}

/* Handle */
.sidebarscroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.sidebarscroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* ======================================= */
