@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: "Poppins";
  background: #121212;
}

.search-form:focus-within,
.search-form:hover {
  border: 1px solid #7b46de;
}

input {
  color: #c0c0c0;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* *** Customizing Scrollbar Style *** */
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ======================================= */

.connect-channel-dialog[open] {
  animation: unfoldIn 0.5s;
}

@keyframes unfoldIn {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.connect-channel-dialog.is-hidden {
  transform: scaleY(1) scaleX(1);
  animation: closeDialog 0.5s;
}

@keyframes closeDialog {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}
